  
body {
    background: orange;
    margin: 0%;
    bacgound-attachment: 100vw 100vh;
    padding: 110px 350px;
     }



.h45 {
   margin: 40px 100px;
    width: 100%;
 }

 .h46 {
   margin: 40px 100px;
    width: 100%;
 }
 .h47 {
   margin: 40px 100px;
    width: 100%;
    border-radius: 15%;
 }
 .h48 {
   margin: 40px 100px;
   border-radius: 0px;
}
     
    
