body {
    background: rgb(0, 53, 167) ;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
input[type="text"], input[type="password"]
{
    outline: none;
    display: block;
    width: 199px ;
    border-radius: 3px;
    border: 1px solid rgba(238, 238, 238, 0.726);
    margin: 20px auto;
    padding: 20px;
}
input[type="submit"] 
{
    padding: 20px;
    background:  rgb(255, 145, 0);
    width: 85px;
    margin: 28px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    color:white;
}
input[type="submit"] :hover
{
    background-color: rgb(255, 0, 0);
}

 .t78
{
    background:rgb(86, 201, 143);
   padding: 30px;
   width: 380px;
   margin: -5px 340px;
   border-radius: 4px; 
        
}
h1 { 
             color:white;
        }
 img {
        width: 80px;
        height: 80px ;
        border-radius: 10px;
        margin:center ;
}
h2
{
    text-decoration: none;
    background:rgb(255, 145, 0);
    color: white;
    whidth:50px 60px;
    bborder-radius:3px;
}
