body {
    width: 50% ; 
    background: rgba(255, 153, 0, 0.897);
    width: 50% ;
}
.h45 {
    margin: 40px 100px;
    width: 56%;
 }

 .h46 {
    margin: 40px 100px;
    width: 56%;
 }
 .h47 {
    margin: 40px 100px;
    width: 56%;
 }
